<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Berties Book Shop</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Berties Book Shop</h1>

    <p>Welcome to your Dynamic Web Apps Lab 6 app.</p>

    <ul>
      <li><a href="/books/list">View all books</a></li>
      <li><a href="/books/addbook">Add a new book</a></li>
      <li><a href="/books/bargainbooks">View bargain books (under £20)</a></li>
      <li><a href="/books/search">Search for a book</a></li>
      <li><a href="/users/register">Register</a></li>
      <li><a href="/users/list">List users</a></li>
      <li><a href="/users/login">Login</a></li>
      <li><a href="/users/audit">Login audit</a></li>

      <!-- Lab 9 links -->
      <li><a href="/weather">Weather</a></li>
      <li><a href="/api/books">Books JSON API</a></li>
    </ul>
  </body>
</html>