<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Bertie's Books</title>
</head>
<body>
  <h1>Bertie's Books</h1>
  <ul>
    <li><a href="/books/list">List books</a></li>
    <li><a href="/books/addbook">Add a book</a></li>
    <li><a href="/books/bargainbooks">Bargain books</a></li>
    <li><a href="/books/search">Search</a></li>
  </ul>
</body>
</html>
