<%- include('partials/header', { title: 'Books' }) %>
<h2>Available Books</h2>
<ul class="book-list">
  <% (availableBooks || []).forEach(b => { %>
    <li class="book-item">
      <span class="book-title"><%= b.name %></span>
      <span class="book-price">£<%= Number(b.price).toFixed(2) %></span>
    </li>
  <% }) %>
</ul>
<%- include('partials/footer') %>
